@import url('https://fonts.googleapis.com/css2?family=Sedan:ital@0;1&display=swap');

* {
    padding: 0;
    margin: 0;
}

body {
    font-family: "Sedan", serif;
    font-weight: 400;
    font-style: normal;
    line-height: 1.6;
}

/* --------
     Frame 
   --------*/
.header { grid-area: header; }
.img-container { grid-area: img-container; }
.card-container { grid-area: card-container; }
.grid-container {
    width: 100%;
    margin: 0px auto 0px auto;
    display: grid;
    grid-template-areas:
        "header header header header"
        "img-container card-container card-container card-container"
        "img-container card-container card-container card-container";
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.header {
    overflow: hidden;
    background-color: #000000;
    padding: 10px 10px;
    font-size: 20px;
    color: white;
    text-align: right;
}

.main {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.img-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.card {
    width: 300px;
    margin: 10px;
    border-radius: 5px; 
    overflow: hidden; 
    padding: 20px;
}

h1 {
    margin-bottom: 0;
}

.img-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.img-container img {
    width: 100%;
    height: auto;
}